<div class="container" id="page-wrapper">
	<div class="col-md-12">
		<h1>
			<% if I18n.locale.to_s.eql?("no") %>
				Praktisk informasjon
			<% else %>
				Practical Information
			<% end %>
		</h1>
	</div>
	<div class="col-md-12">
		<p>
			<% if I18n.locale.to_s.eql?("no") %>
			<p>
				<b>Åpningstider på Studentersamfundet</b><br>
				Studentersamfundet holder åpent hver dag fra kl. 16.00. Det er gratis inngang på hverdager, og det er gratis også i helgene for medlemmer.
			<p>
				Priser for ikke-medlemmer er:<br>
				Fredager: 40 kr. frem til kl 23.00, og 60 kr. etter kl 23.00<br>
				Lørdager: 40 kr. frem til kl 23.00, og 80 kr. etter kl 23.00<br>
			</p>
			<p>
				ISFiT-deltagere har alltid gratis inngang til huset. Aldersgrensen på huset er 20 år for ikke-studenter på fredager og lørdager, unntaket er for medlemmer og studenter med studentidentifikasjon. Resten av uken er aldersgrensen 18 år, med mindre noe annet er blitt spesifisert. Konserter, debattmøter og de fleste andre kulturarrangement er imidlertid tilgjengelig for alle over 18 år.
			</p>
			<p>
				<b>Informasjonssenteret på Trafoen</b><br>
				Har du noen spørsmål? Vennligst kontakt Sekretariatet – de vil ha svarene. Du finner medlemmer av Sekretariatet på Trafoen hele døgnet. Trafoen er det røde bygget i Høgskoleparken, mellom Studentersamfundet og Gløshaugen. Trafoen fungerer også som hittegodssentral.
			</p>
			<p>
				<b>LUKA</b><br>
				Dersom du ikke vet hvor du skal henvende deg, er resepsjonen på Samfundet, LUKA, rette stedet å gå. De vet alt om huset, og kan eventuelt hjelpe deg med å finne riktig kontaktperson. De selger også billetter til de ulike arrangementene. Luka holder åpent fra kl. 13.00 til 19.30 på mandager, og fra kl. 16.30 til 19.30 fra tirsdag til fredag.
			</p>
			<p>
				<b>Billetter</b><br>
				Kjøpte billetter kan ikke refunderes. Hvis du har kjøpt en medlemsbillett må du presentere et gyldig medlemskort eller deltagerbånd ved inngangen. Du finner priser for de enkelte arrangementene i dette programmet.
			</p>
			<p>
				Billetter til alle arrangement kan kjøpes på www.events.isfit.org, og i LUKA på Studentersamfundet. Arrangementene i Bakke kirke og Nidarosdomen vil ha billettsalg i døren, og det samme gjelder arrangement på Samfundet. Billettsalg i døren på Samfundet starter ved husåpning og varer til 30 minutter etter siste arrangementstart, med unntak av fredag og lørdag hvor billettsalget varer frem til stenging kl 02. Søndag er det ikke billettsalg. Vi anbefaler imidlertid at du kjøper billetter på forhånd, både for å unngå lange køer og i tilfelle arrangementet blir utsolgt.
			</p>
			<p>
				Dørene åpner 30 minutter før arrangementstart.
			</p>
			<p>
				Alle ISFiT-deltakere får medlemspris på billetter, samt gratis garderobe. For andre publikummere koster det kr. 25,- for garderobe. Dette må betales kontant.
			</p>
			<p>
				<b>Spesielle behov</b><br>
				Rullestolbrukere og andre besøkende med begrenset mobilitet, kan benytte seg av inngangen på søndre side av bygget (glassbygget). Her er det en heis som går til alle nivåer, med unntak av Knaus. Har du lyst til å dra på konsert eller et annet arrangement på Studentersamfundet? Vennligst kontakt vaktmester Jan Åge Feirud på tlf: 992 15 956. 
			</p>
			<% else %>
				<p>
					<b>Opening Hours at Studentersamfundet</b><br>
					Studentersamfundet is open every day from 16.00. The entrance is free of charge during the week, and is always free for members.
				<p>
				<p>
					Prices for non-members are:<br>
					Fridays: 40 kr before 23.00, 60 kr after 23.00<br>
					Saturdays: 40 kr before 23.00, 80 kr after 23.00
				</p>

				<p>
					ISFiT-participants always have free entrance to the house. The age limit at the house is 20 years for non-students on Fridays and Saturdays, excluding members and students with student ID. The rest of the week, there is an 18-year limit, unless otherwise is specified. Concerts, debate meetings and most cultural events will, however, be available to everyone over 18 years of age.
				</p>

				<p>
					<b>The Information Centre at Trafoen</b><br>
					Do you have any questions? Please contact the Secreteriat - they will have the answers. You will find people from the Secreteriat at theTrafo all day and night. The Trafo is the red building in Høgskoleparken, between Studentersamfundet and Gløshaugen. The Trafo also has our Lost and Found.
				</p>
				<p>
					<b>LUKA</b><br>
					If you do not know where to turn with your questions, the reception at Studentersamfundet, LUKA, is the right place to go. They know everything about the house, and if not, they know who knows it! They also sell tickets for the events. Luka is open from 13.00 to 19.30 on Mondays, and from 16.30 to 19.30 Tuesday through Friday.
				<p>

				<p>
					<b>Tickets</b><br>
					Purchased tickets are non-refundable. If you have bought a member ticket you must present a valid membership card or participant bracelet at the entrance. You will find prices for each event in this programme.
				</p>
				<p>
					Tickets for all events can be purchased at www.events.isfit.org and at LUKA at Studentersamfundet. You may also purchase tickets by the respective entrance for the events at Bakke Church, Nidaros Cathedral and Studentersamfundet. The ticket sale at Studentersamfundet’s entrance starts when the house opens and ends 30 minutes into the last event that night. On Friday and Saturday, however, the ticket sale lasts until the closing of the house at 02.00. There is no ticket sale on Sunday. We do, nonetheless, recommend that you purchase your tickets in advance. This is to avoid queuing, in addition to the possibility of events being sold out.
				</p>
				<p>
					The doors open 30 minutes before the start of the events.
				</p>
				<p>
					All ISFiT participants will get a membership discount on their tickets, in addition to free use of Studentersamfundet’s wardrobe. For others, using the wardrobe costs kr. 25,- which must be paid in cash.
				</p>
				<p>
					<b>Special Needs</b><br>
					Wheelchair users and other visitors with limited mobility may take advantage of our entrance on the southern side of the building (the glass building). Here, there is an elevator available to all levels except Knaus. Do you want to go to a concert or event at Studentersamfundet? Please contact the duty officer Jan Åge Feirud by phone 992 15 9 56. Samfundet accepts a certified companion.
				</p>
			<% end %>
		</p>
	</div>

</div>