/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* adjust body when menu is open */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.navbar-frontpage{
	background-color: #0099CC !important;
	border: 0;
	border-radius: 0;
}
#content-wrapper{
	position: relative;
	min-height: 100%;
}
#page-wrapper{

}
.event-types > li > a{
	color: #FFF !important;
}
.event-types > li > p{
	color: #FFF !important;
}

.navbar_art{
	border-bottom: 5px solid #3AA935;
}
.navbar_concert{
	border-bottom: 5px solid #5B3C8F;
}
.navbar_ceremony{
	border-bottom: 5px solid #EA5A0B;
}
.navbar_sceneshow{
	border-bottom: 5px solid #F9B233;
}
.navbar_debate{
	border-bottom: 5px solid #62abc8;
}
.navbar_other{
	border-bottom: 5px solid #575756;
}

.navbar_art:hover{
	background-color: #3AA935;
}
.navbar_concert:hover{
	background-color: #5B3C8F;
}
.navbar_ceremony:hover{
	background-color: #EA5A0B;
}
.navbar_sceneshow:hover{
	background-color: #F9B233;
}
.navbar_debate:hover{
	background-color: #62abc8;
}
.navbar_other:hover{
	background-color: #575756;
}

.footer{
  background-color: #0099CC;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
}
.footer > .container > p{
	color: #FFF;
}
.no_padding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.no_padding_left{
  padding-left: 0px !important;
}
.no_padding_right{
  padding-right: 0px !important;
}
.fa-custom-size{
    font-size: 1.4em; 
}