/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* adjust body when menu is open */

@import "bootstrap";

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.navbar-frontpage{
	background-color: #0099CC !important;
	border: 0;
	border-radius: 0;
}
#content-wrapper{
	position: relative;
	min-height: 100%;
}
.event-types > li > a{
	color: #FFF !important;
}
.footer{
  background-color: #0099CC;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
}
.footer > .container > p{
	color: #FFF;
}
.no_padding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.no_padding_left{
  padding-left: 0px !important;
}
.no_padding_right{
  padding-right: 0px !important;
}