
.event-box{
  background-color: #0099CC;
  a:hover {
    text-decoration: none;
  }
}
.event-img{
  border-right: 5px solid #EFAB44;

}
.tickets{
  margin-bottom: 5px;
}
.event-info{
  color: white;
  margin-top: 5px;
  h1{
    margin-left: 20px;
  }
  table{
    margin-bottom: 0px;
  }
  td{
    padding-left: 20px;
  }
  p{
    margin-left: 20px;
  }
  i{
    margin-left: 20px;
  }
}
.body{
  margin-top: 10px;
}
.event-button{
  margin-left: 20px;
  background-color: #EFAB44;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  margin: auto;
  cursor: pointer;
  padding: 2.5em 0;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  line-height: 2em;
  &:active {
    box-shadow: 0 2px 4px #333 inset;

    line-height: 2.3em;
  }
}
.event_hidden{
  display: none;
}
.event-link{
  text-decoration: none;
  color: #000;
}
.event-link:hover{
  text-decoration: none;
  color: #000;
}
.concert{
  border-right: 1px solid #5B3C8F;
  border-top: 1px solid #5B3C8F;
  border-bottom: 1px solid #5B3C8F;
  border-left: 5px solid #5B3C8F;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.performing{
  border-right: 1px solid #F9B233;
  border-top: 1px solid #F9B233;
  border-bottom: 1px solid #F9B233;
  border-left: 5px solid #F9B233;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.art{
  border-right: 1px solid #3AA935;
  border-top: 1px solid #3AA935;
  border-bottom: 1px solid #3AA935;
  border-left: 5px solid #3AA935;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.ceremony{
  border-right: 1px solid #EA5A0B;
  border-top: 1px solid #EA5A0B;
  border-bottom: 1px solid #EA5A0B;
  border-left: 5px solid #EA5A0B;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.debate{
  border-right: 1px solid #0098CC;
  border-top: 1px solid #0098CC;
  border-bottom: 1px solid #0098CC;
  border-left: 5px solid #0098CC;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.other{
  border-right: 1px solid #575756;
  border-top: 1px solid #575756;
  border-bottom: 1px solid #575756;
  border-left: 5px solid #575756;
  background-color: #FFFFFF;
  margin-top: 3px;
}
.event_category:hover{
  background-color: #D3D3D3;
}
.price_events{
  margin-top: 10px;
  margin-bottom: 10px;
}
.event-preview{
  border: 1px solid #000000;
  position: fixed !important;
  right: 2%;
}
.calendar-date{
text-align: center;
}
.inner-date{

  vertical-align: middle;
  height: 200px;
  margin-top: 30px;
  color: #FFFFFF;
     
}
.inner-date h1{
    line-height: 150px;
}
.inner-date h4{
  margin-top: -55px;
}
.not-isfit{
  background-color: #5C5C5C;
}
.events_show{
  margin-top: 10px;
}
.event_banner{
  display: block;
  margin-top: -20px;
}

.event_image{
  float: right;
  display: inline;
}
.img-tag-event{
  border: 1px solid #0099cc;
}


  @media (max-width: 960px) {
    .event-box{
      background-color: transparent;
    }
    .event-info{
      background-color: #0099CC;
    }
    .event-img{
      border-right: 0;
    }
  }
