
.event-box{
  background-color: #0099CC;
  border: 1px solid #000;
  a:hover {
    text-decoration: none;
  }
}
.event-img{
  border-right: 5px solid #EFAB44;

}
.event-info{
  color: white;
  h1{
    margin-left: 20px;
  }
  table{
    margin-bottom: 0px;
  }
  td{
    padding-left: 20px;
  }
  p{
    margin-left: 20px;
  }
  i{
    margin-left: 20px;
  }
}
.body{
  margin-top: 10px;
}
.event-button{
  margin-left: 20px;
  background-color: #EFAB44;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  margin: auto;
  cursor: pointer;
  padding: 2.5em 0;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  line-height: 2em;
  &:active {
    box-shadow: 0 2px 4px #333 inset;

    line-height: 2.3em;
  }
}


  @media (max-width: 960px) {
    .event-box{
      background-color: transparent;
    }
    .event-info{
      background-color: #0099CC;
    }
    .event-img{
      border-right: 0;
    }
  }
