// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$concert: #38c0f0;
$plenary: #fbbc3a;
$other: #222;
$performing: #0481b9;
$art: #223366;
$varbox: hsl(293, 100%, 31%);
$varbox: #D83415;


#top-left{
  color: white;
  height: 460px;
  h1{
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
  }
}
#small-boxes{
  color: white;
  margin-top: 5px;
  height: 460px;
  h1{
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
  }
}
.event_pic_1{
  border-top: 7px solid #EFAB44;
}
.event_pic_0{
  border-top: 7px solid #0099CC;
}

