<div class="navbar">
	<!-- <div class="navbar navbar-fixed-top"> -->
	<a href="http://events.isfit.org">
		<div class="navbar-brand">
			<img src="http://www.isfit.org/assets/logo-78aea239d505fa132e9097e39f4a86cb.png" alt="">
			<p>Events</p>
		</div>
	</a>
	<div class="container" id="legend">
		<a href="/plenary_session/">
			<div class="eventtype">
				<div class="type5 decor"></div>
				<p class="long">Plenary<br>session</p>
			</div>
		</a>
		<a href="/concert/">
			<div class="eventtype">
				<div class="type1 decor"></div>
				<p>Concert</p>
			</div>
		</a>
		<a href="/art/">
			<div class="eventtype">
				<div class="type3 decor"></div>
				<p>Art</p>
			</div>
		</a>
		<a href="/performing_arts/">
			<div class="eventtype">
				<div class="type2 decor"></div>
				<p class="long">Performing<br>arts</p>
			</div>
		</a>
		<a href="/ceremony/">
			<div class="eventtype">
				<div class="type4 decor"></div>
				<p>Ceremony</p>
			</div>
		</a>
	</a>
	<a href="/other/">
		<div class="eventtype">
			<div class="type7 decor"></div>
			<p>Other</p>
		</div>
	</a>

	<p style="position:absolute; top: 0; right: 1em;">
		<a href="http://isfit.org">Back to ISFiT.org</a>
	</p>

</div>
</div>